/* generics  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  height: 100%;
  object-fit: cover;
}

body {
}
/* style */

.container {
  width: 900px;
  padding: 30px;
  margin: 0 auto;
}

/* card */

.card {
  width: calc(33%);
  height: 400px;
  display: inline-block;
  position: relative;
}

/* description photo */

.photo-description {
  position: absolute;
  font-family: sans-serif;
}

#brand-name {
  font-size: 14px;
}

#clothing-type {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

#sale-price {
  font-weight: bold;
  font-size: 12px;
  color: red;
}

#original-price {
  font-size: 12px;
  text-decoration: line-through;
}

/* euro sing */

#sale-price:after {
  content: " €";
}

#original-price:after {
  content: " €";
}
/* heart icon */

/* content inside photo */

#discount-box {
  width: 40px;
  background-color: red;
  bottom: 20px;
  position: absolute;
}

#discount-amount {
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
  padding: 2px;
}

#eco-box {
  background-color: #00875a;
  bottom: 20px;
  left: 43px;
  position: absolute;
}

#eco-text {
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding: 2px;
  font-family: sans-serif;
}
