/* generics  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* style */

.container {
  width: 900px;
  padding: 30px;
  margin: 0 auto;
}

.wrap {
  padding: 10px;
  display: inline;
}

#pad {
  margin-top: 80px;
  margin-bottom: 50px;
}

/* card */

.card {
  width: calc(30%);
  position: relative;
  display: inline-block;
}

/* description photo */

.photo-description {
  position: absolute;
  font-family: sans-serif;
}

#brand-name {
  font-size: 14px;
}

#clothing-type {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

#sale-price {
  font-weight: bold;
  font-size: 12px;
  color: red;
}

#original-price {
  font-size: 12px;
  text-decoration: line-through;
}

/* sub class */

#sale-price:after {
  content: " \20AC";
}

#original-price:after {
  content: " \20AC";
}

#discount-amount:after {
  content: "\0025";
}

/* heart icon */

#heart-box {
  width: 35px;
  height: 35px;
  background-color: white;
  top: 10px;
  right: 0;
  position: absolute;
  margin: 0;
}

#heart-sign {
  color: black;
  text-align: center;
  line-height: 35px;
}

#heart-sign:hover {
  color: red;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
}

/* content inside photo */

#discount-box {
  width: 40px;
  background-color: red;
  bottom: 20px;
  position: absolute;
}

#discount-amount {
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 12px;
  text-align: center;
  padding: 2px;
}

#eco-box {
  background-color: #00875a;
  bottom: 20px;
  left: 43px;
  position: absolute;
}

#eco-text {
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding: 2px;
  font-family: sans-serif;
}

/* photo model */

/* model 1 photo */
#model-1 {
  background: url("/img/1.webp");
  height: 400px;
  width: 100%;
  background-size: cover;
  border: none;
}

#model-1:hover {
  background: url("/img/1b.webp");
  height: 400px;
  width: 100%;
  background-size: cover;
  border: none;
}

/* model 2 photo */
#model-2 {
  background: url("/img/2.webp");
  height: 400px;
  width: 100%;
  background-size: cover;
  border: none;
}

#model-2:hover {
  background: url("/img/2b.webp");
  height: 400px;
  width: 100%;
  background-size: cover;
  border: none;
}

/* model 3 photo */
#model-3 {
  background: url("/img/3.webp");
  height: 400px;
  width: 100%;
  background-size: cover;
  border: none;
}

#model-3:hover {
  background: url("/img/3b.webp");
  height: 400px;
  width: 100%;
  background-size: cover;
  border: none;
}

/* model 4 photo */
#model-4 {
  background: url("/img/4.webp");
  height: 400px;
  width: 100%;
  background-size: cover;
  border: none;
}

#model-4:hover {
  background: url("/img/4b.webp");
  height: 400px;
  width: 100%;
  background-size: cover;
  border: none;
}

/* model 5 photo */
#model-5 {
  background: url("/img/5.webp");
  height: 400px;
  width: 100%;
  background-size: cover;
  border: none;
}

#model-5:hover {
  background: url("/img/5b.webp");
  height: 400px;
  width: 100%;
  background-size: cover;
  border: none;
}

/* model 6 photo */
#model-6 {
  background: url("/img/6.webp");
  height: 400px;
  width: 100%;
  background-size: cover;
  border: none;
}

#model-6:hover {
  background: url("/img/6b.webp");
  height: 400px;
  width: 100%;
  background-size: cover;
  border: none;
}
